*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url();
    background-size: cover;

}


.container{
    width: 100%;
    max-width: 650px;
    background: rgba(0,0,0,0.4);
    padding: 28px;
}